# Gradle
.gradle/
build/

# IDE
*.iml
.idea/

# Local config
local.properties

# Build outputs
*.apk
*.aab
*.dex
*.class

# Keystore
*.jks
*.keystore

# Native build
.externalNativeBuild/
.cxx/

# Captures
/captures

# OS
.DS_Store
Thumbs.db

# Logs
*.log
